# IDE settings
.idea/

# Store monitor logs
logs/

# Build artifacts
out/

# Maven build files
target/

# Setup related
setup/source/Autosave/
setup/source/logs
setup/source/error.log
setup/source/Store Monitor.exe